.element-about {
  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 60px;
    border: 1px solid $background-primary;
    border-radius: 8px;

    .left {
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-gap: 40px;

      img {
        width: 100%;
      }

      .tex-box {
        .title {
          margin-bottom: 37px;
          font-size: 28px;
        }
      }
    }

    .right {
      ul {
        list-style: none;
        margin-bottom: 0;
        padding-left: 12px;

        li {
          position: relative;
          padding-left: 12px;
          margin-bottom: 5px;

          &:before {
            position: absolute;
            content: "";
            width: 4px;
            height: 4px;
            top: 50%;
            left: 0;
            border-radius: 50%;
            background-color: #151618;
            @include transform(translateY(-50%));
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.btn-support {
  padding: 18px 28px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  background-color: $background-primary;
  display: inline-flex;
  @include align-items(center);
  grid-gap: 10px;

  span {
    display: inline-block;
  }

  .icon {
    width: 19px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    color: $color-hover;
    font-size: 9px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  &:hover {
    background-color: $background-hover;
  }
}