.element-partner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 52px;
  @include align-items(center);

  .item {
    text-align: center;

    img {
      width: auto;
      display: inline-block;
    }
  }
}