.element-post-detail {
  max-width: 950px;
  margin: 0 auto;

  .title-post {
    margin-bottom: 22px;
  }

  .meta {
    margin-bottom: 22px;
    @include flexbox();
    grid-gap: 22px;

    .left {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 12px;
      @include align-items(center);

      span {
        font-weight: 700;
        font-size: 14px;
      }

      .social-box {
        a {
          display: inline-block;
          margin-right: 8px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .right {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 24px;
      font-size: 12px;
      color: #7D7D7D;
      @include align-items(center);
    }
  }

  .post-image {
    margin-bottom: 22px;
  }

  .table-contents {
    margin-bottom: 22px;
    padding: 20px 21px;
    border-left: 4px solid #C4C1C0;
    background-color: #F6F6F4;

    .title {
      font-size: 20px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 8px;

        a {
          color: #2493FA;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .post-content {
    position: relative;

    &__text {
      height: 170px;
      overflow: hidden;
    }
  }
}

.action-box-see-more {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 140px;
  z-index: 2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 39.58%, #FFFFFF 100%);
  @include flexbox();
  @include align-items(flex-end);
  @include justify-content(center);

  a {
    cursor: pointer;
    color: $color-title;
    font-weight: 700;
    @include flexbox();
    @include align-items(center);
    @include flex-direction(column);

    span {
      display: block;
      margin-bottom: 8px;
    }
  }
}