.element-section-subscribe {
  padding: 35px 0;
  background-image: url("assets/images/bk-subscribe.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.element-subscribe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  max-width: 930px;
  margin: 0 auto;
  @include align-items(center);


  .left {
    .heading {
      margin-bottom: 8px;
      font-size: 28px;
      color: #ffffff;
      text-transform: uppercase;
    }

    .text {
      color: #ffffff;
    }
  }

  .right {
    .subscribe {
      position: relative;

      input {
        padding: 10px 40px 11px 12px;
        font-size: 14px;
        border-radius: 3px;
        background-color: #ffffff;
      }

      .btn-submit {
        position: absolute;
        top: 0;
        right: 22px;
        height: 100%;
        padding: 0;
        border: none;
        background-color: transparent;

        i {
          color: #2C3E50;
          @include transition();

          &:hover {
            color: $color-hover;
          }
        }
      }
    }
  }
}