.header {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__banner {
    a {
      display: block;
    }
  }

  &__middle {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr auto 1fr;
    background-color: #f7f8fa;

    .left {
      @include flexbox();

      .navbar {
        padding: 0;

        ul {
          height: 100%;
          @include flexbox();

          li {
            @include flexbox();
            @include flex(0 0 auto);
            @include transition();

            a {
              padding: 0 10px;
              font-size: 16px;
              text-transform: uppercase;
              color: rgba(0,0,0,0.6);
              height: 100%;
              @include flexbox();
              @include align-items(center);

              &:hover {
                color: #000000;
              }
            }

            &.active {
              a {
                color: #000000;
                background-color: #ffffff;
              }
            }
          }
        }
      }
    }

    .logo {
      height: 70px;
      @include flexbox();
      @include align-items(center);
    }

    .right {
      display: grid;
      grid-gap: 12px;
      grid-template-columns: 1fr auto;

      .notice {
        @include flexbox();
        @include align-items(center);

        &__item {
          width: 60%;
          margin: 0 0 0 auto;

          a {
            color: rgb(213, 51, 48);
            font-size: 12px;
          }
        }
      }

      .info {
        display: grid;
        grid-template-columns: repeat(5, auto);

        &__box {
          position: relative;
          padding: 0 5px;
          @include transition();

          > a {
            height: 100%;
            @include flexbox();
            @include align-items(center);
          }
          .sub {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 99;
            opacity: 0;
            visibility: hidden;
            min-width: 168px;
            padding: 10px 20px;
            background-color: #ffffff;
            box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.08);
            @include transition();

            li {
              margin-bottom: 8px;

              a {
                display: block;
                font-size: 12px;
                text-transform: capitalize;
                line-height: normal;
                color: rgba(0,0,0,0.6);
                white-space: nowrap;

                &:hover {
                  color: $color-hover;
                }
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          &:hover {
            background-color: #ffffff;

            .sub {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        &__user {
          .sub {
            li {
              &:first-child {
                padding-bottom: 12px;
                border-bottom: 1px solid rgba(0,0,0,0.1);

                a {
                  color: rgba(0,0,0,0.8);
                  font-weight: 700;

                  &:hover {
                    color: $color-primary;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__bottom {
    padding-left: 20px;
    padding-right: 20px;
    height: 54px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.04);
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr auto;
    @include align-items(center);

    .left {
      height: 100%;

      .menu {
        height: 100%;

        > ul {
          > li {
            > a {
              position: relative;

              &:after {
                position: absolute;
                content: "";
                height: 2px;
                bottom: 0;
                left: 15px;
                right: 15px;
                opacity: 0;
                visibility: visible;
                background-color: $background-primary;
                @include transition();
              }
            }

            &:hover {
              a {
                color: #ed354b;

                &:after {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }

        ul {
          height: 100%;
          @include flexbox();

          li {
            height: 100%;

            a {
              padding: 0 15px;
              height: 100%;
              font-size: 14px;
              text-transform: uppercase;
              @include flexbox();
              @include align-items(center);
            }
          }
        }
      }
    }

    .right {
      .search-box {
        position: relative;
        display: grid;
        grid-template-columns: 210px auto;

        .form-control {
          padding-left: 12px;
          padding-right: 26px;
          font-size: 12px;
          border: 1px solid rgba(0,0,0,0.1);
        }

        .btn-submit {
          padding: 0;
          width: 40px;
          height: 38px;
          color: #ffffff;
          font-size: 24px;
          border: none;
          background-color: #222222;
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
        }

        .search-content {
          position: absolute;
          top: 80%;
          left: 0;
          right: 0;
          max-height: 520px;
          overflow-y: auto;
          z-index: -1;
          opacity: 0;
          visibility: visible;
          padding: 10px;
          background-color: #ffffff;
          @include transition();

          .title {
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;
            margin-bottom: 10px;

            &.title-hot {
              margin-bottom: 16px;
            }
          }

          .history-words {
            margin-bottom: 16px;

            a {
              display: inline-block;
              margin-right: 10px;
              font-size: 12px;
            }
          }

          .hot-words {
            a {
              display: inline-flex;
              margin-right: 10px;
              margin-bottom: 10px;
              padding: 2px 9px;
              font-size: 12px;
              background-color: #f5f5f5;
              @include align-items(center);

              i {
                margin-right: 8px;
                color: #fa6338;
                font-size: 14px;
              }
            }
          }
        }

        .control-search {
          &:focus {
            ~ .search-content {
              top: 100%;
              opacity: 1;
              visibility: visible;
              z-index: 99;
            }
          }
        }
      }
    }
  }
}
