.project-detail {
  .title-post {
    font-size: 28px;
  }

  .info {
    .item {
      margin-bottom: 10px;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 16px;
      @include align-items(center);
    }
  }
}

.element-project-slider {
  .item {
    &__thumb {
      position: relative;
      border-radius: 8px;
      overflow: hidden;

      &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.6);
        @include transition();
      }
    }

    .content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 50px 20px 12px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

      .title-post {
        font-size: 14px;
        font-weight: 900;
        margin-bottom: 4px;

        a {
          color: #ffffff;
          text-transform: uppercase;

          &:hover {
            color: $color-hover;
          }
        }
      }

      p {
        font-size: 14px;
        color: $color-hover;
        line-height: 1.4em;
      }
    }
  }

  .owl-item {
    &.active {
      &.overlay {
        .item {
          &__thumb {
            &:after {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}