/* Product Detail */
.template-product-detail {
  .title-size {
    font-size: 22px;
  }

  .information {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dashed #e5e5e5;

    .product-title {
      font-size: 18px;
    }

    .product-intro {
      margin-bottom: 12px;
      color: $color-link;

      > div {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }

      &__rating {
        display: grid;
        grid-gap: 8px;
        grid-template-columns: auto 1fr;

        a {
          color: $color-star;;
        }
      }
    }

    .product-price {
      margin-bottom: 12px;
      @include flexbox();
      @include align-items(center);

      i {
        margin-right: 6px;
        color: $color-star;
      }

      ins {
        font-size: 22px;
      }

      del {
        font-size: 14px;
      }
    }

    .product-flash-sale {
      margin-bottom: 22px;
      padding-left: 24px;
      color: $color-text;

      span {
        display: inline-block;

        &.text {
          margin-right: 6px;
        }

        &.discount {
          width: 44px;
          height: 18px;
          text-align: center;
          line-height: 18px;
          color: $color-title;
          font-size: 12px;
          background-color: $color-star;
        }
      }
    }

    .product-time-sale {
      position: relative;
      padding: 12px;
      font-weight: 700;
      display: grid;
      grid-gap: 12px;
      grid-template-columns: 1fr auto;
      background-color: $color-star;

      &__title {
        display: grid;
        grid-gap: 6px;
        grid-template-columns: auto 1fr;
      }

      &__time {
        display: grid;
        grid-gap: 6px;
        grid-template-columns: auto 1fr;
      }

      .link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  .product-attributes {
    margin-bottom: 30px;

    .intro-box {
      margin-bottom: 22px;
    }

    .intro-header {
      margin-bottom: 16px;
      font-size: 14px;

      strong {
        margin-right: 6px;
      }
    }

    .intro-attr {
      &__list {
        display: flex;
        grid-gap: 16px;

        .color-inner {
          position: relative;
          width: 28px;
          height: 28px;
          cursor: pointer;
          border-radius: 50%;

          &:after {
            position: absolute;
            content: "";
            top: -4px;
            right: -4px;
            left: -4px;
            bottom: -4px;
            border: 1px solid transparent;
            border-radius: 50%;
            @include transition()
          }

          &.active,
          &:hover {
            &:after {
              border-color: #000000;
            }
          }
        }

        .size-inner {
          padding: 4px 30px;
          border: 1px dashed #e5e5e5;
          border-radius: 25px;
          cursor: pointer;
          @include transition();

          &.active,
          &:hover {
            border-color: #000000;
          }
        }
      }
    }
  }

  .cart {
    &__quantity {
      margin-bottom: 30px;
      display: grid;
      grid-gap: 12px;
      @include flexbox();
      @include align-items(center);

      .product-quantity {
        border: 1px solid #f6f6f6;
        @include flexbox();

        &__calc {
          width: 26px;
          height: 24px;
          text-align: center;
          line-height: 24px;
          background-color: #f7f6f7;

          i {
            font-size: 18px;
          }
        }

        .input-qty {
          padding: 0;
          border: 0;
          width: 50px;
          height: 24px;
          text-align: center;
          line-height: 24px;
        }
      }
    }

    &__add {
      display: grid;
      grid-gap: 12px;
      grid-template-columns: 1fr auto;

      button {
        @include transition();

        &.add-to-cart {
          padding: 12px 16px;
          text-transform: uppercase;
          color: #ffffff;
          font-size: 18px;
          border: none;
          background-color: $background-primary;

          &:hover {
            background-color: rgba(34,34,34,.8);
          }
        }

        &.add-wishlist {
          padding: 0;
          width: 54px;
          height: 54px;
          line-height: 54px;
          border-radius: 50%;
          border: 1px solid $border-color;
          background-color: transparent;

          i {
            @include transition();
          }

          &:hover {
            i {
              color: $color-text;
            }
          }
        }
      }
    }
  }

  .product-free-shipping {
    padding: 20px;
    background-color: $background-three;

    .item {
      margin-bottom: 20px;
      cursor: pointer;
      display: grid;
      grid-gap: 12px;
      grid-template-columns: auto 1fr;

      .title {
        i {
          font-size: 14px;
          color: $color-sub;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .product-content-detail {
    .accordion-item {
      .accordion-button {
        padding: 12px;

        &:after {
          background-image: none;
          content: "\e145";
          width: auto;
          height: auto;
          font-size: 20px;
          font-family: "Material Icons Outlined", serif;
        }
        &:focus {
          box-shadow: none;
        }
        &:not(.collapsed) {
          color: #ffffff;
          background-color: $background-primary;

          &:after {
            content: "\e15b";
            @include transform(none);
          }
        }
      }
    }

    .product-description {
      .accordion-body {
        .item {
          margin-bottom: 6px;
          display: grid;
          grid-gap: 12px;
          grid-template-columns: 160px 1fr;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .product-brand {
      .accordion-body {
        .item {
          display: grid;
          grid-gap: 12px;
          grid-template-columns: 62px 1fr;

          .thumbnail {
            img {
              padding: 3px;
              border: 1px solid #e5e5e5;
            }
          }
        }
      }
    }
  }

  .common-reviews {
    &__average {
      padding: 25px;
      background-color: $background-three;

      .rate {
        .ave-rate {
          display: grid;
          grid-gap: 12px;
          grid-template-columns: auto 1fr;
          @include align-items(center);

          .star-rating {
            i {
              font-size: 20px;
            }
          }

          .medium-score {
            font-size: 16px;
            font-weight: 700;
          }
        }
      }

      .voted {
        .vote {
          &__item {
            display: grid;
            grid-gap: 8px;
            grid-template-columns: 100px 1fr 36px;
            @include align-items(center);
          }
        }

        .progress {
          height: 8px;

          .progress-bar {
            background-color: $background-primary;
          }
        }
      }
    }

    &__select {
      display: grid;
      grid-gap: 12px;
      grid-template-columns: 1fr auto;
      border-bottom: 1px solid #e5e5e5;

      .nav-reviews {
        .nav-pills {
          .nav-item {
            &:not(:first-child) {
              margin-left: 25px;
            }
          }
          .nav-link {
            position: relative;
            padding: 25px 0;
            color: $color-link;
            font-weight: 700;
            @include transition();

            &:after {
              position: absolute;
              content: "";
              left: 0;
              bottom: 0;
              width: 0;
              height: 2px;
              opacity: 0;
              background-color: $background-primary;
              @include transition();
            }

            &.active,
            &:hover {
              color: $color-hover;
              background-color: transparent;

              &:after {
                opacity: 1;
                width: 100%;
              }
            }
          }
        }
      }

      .select-order {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(3, auto);

        &__item {
          display: grid;
          grid-gap: 6px;
          grid-template-columns: 76px 1fr;
          @include align-items(center);

          .select-box {
            position: relative;

            &__input {
              padding: 6px 12px 5px;
              border: 1px solid #e5e5e5;
              text-align: center;
              cursor: pointer;
              @include flexbox();
              @include align-items(center);

              i {
                font-size: 16px;
              }
            }

            &__list {
              position: absolute;
              top: 102%;
              right: 0;
              min-width: 140px;
              max-height: 192px;
              overflow-y: auto;
              opacity: 0;
              visibility: hidden;
              margin: 0;
              padding: 5px 0;
              border: 1px solid #f6f6f6;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
              background-color: #ffffff;
              @include transition();

              li {
                cursor: pointer;
                padding: 5px 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include transition();

                &:hover {
                  background-color: rgba(0,0,0,.08);
                }
              }
            }

            &:hover {
              .select-box__list {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }

    }

    &__tab {
      .tab-pane {
        &__body {
          .item {
            padding-bottom: 25px;
            margin-bottom: 25px;
            display: grid;
            grid-gap: 12px;
            grid-template-columns: 288px 1fr auto;
            border-bottom: 1px dashed #e5e5e5;

            .left {
              .nick-name {
                margin-bottom: 16px;
                font-weight: 700;
              }

              .detail {
                &__item {
                  margin-bottom: 6px;
                  color: $color-title;

                  .desc {
                    color: #767676;
                  }
                }
              }
            }

            .mid {
              display: grid;
              grid-gap: 40px;
              grid-template-columns: 50% 108px;

              .star-rating {
                margin-bottom: 11px;
              }

              .comment {
                p {
                  margin-bottom: 6px;
                }
              }
            }

            .right {
              @include flexbox();
              @include flex-direction(column);
              @include align-items(flex-end);
              @include justify-content(space-between);

              .like {
                display: grid;
                grid-gap: 6px;
                grid-template-columns: 1fr auto;
                @include align-items(center);

                button {
                  padding: 0;
                  border: none;
                  background-color: transparent;
                }
              }

              .date {
                color: #767676;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .product-search-list {
    .list-box {
      a {
        display: inline-block;
        margin: 0 10px 25px 0;
        padding: 4px 18px;
        color: $color-link;
        border-radius: 15px;
        border: 1px solid #e5e5e5;

        &:hover {
          color: $color-title;
          border-color: $background-primary;
        }
      }
    }
  }
}