// Color
$color-primary: #000000;
$color-title: #000000;
$color-second: #272727;
$color-hover: #222222;
$color-sub: #C7C7C7;

// Background
$background-primary: #F2A849;
$background-hover: #151618;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #F2A849;