// Color
$color-primary: #000000;
$color-title: #222222;
$color-second: #272727;
$color-hover: #222222;
$color-sub: #C7C7C7;
$color-link: #666;
$color-star: #facf19;
$color-text: #fa6338;

// Background
$background-primary: #222222;
$background-hover: #151618;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #F2A849;